In [1]:
import pandas as pd
import numpy as np

In [3]:
Items_List_Assigned = pd.read_csv('C:/Users/smvan/CFFS-S23/CFFS-22-23/data/mapping/Items_List_Assigned.csv')
Items_List_Assigned.head()

,ItemId,CategoryID,Description,CaseQty,CaseUOM,PakQty,PakUOM,InventoryGroup
0,I-57545,1.0,CHUCK FLAT BONELESS FZN,3.30,Kg,1.0,Kg,MEAT
1,I-10869,1.0,BEEF STIRFRY COV FR,5.00,Kg,1.0,Kg,MEAT
2,I-7064,1.0,BEEF OUTSIDE FLAT AAA,1.00,Kg,1.0,Kg,MEAT
3,I-37005,1.0,BEEF MEATBALLS,4.54,Kg,1000.0,g,MEAT
4,I-37002,1.0,BEEF INSIDE ROUND SHAVED,9.00,Kg,1000.0,g,MEAT

In [7]:
Conversions = pd.read_csv('C:/Users/smvan/CFFS-S23/CFFS-22-23/data/cleaning/Conversions_Added.csv')
Conversions = Conversions.dropna(subset=['ConversionId'], axis=0)
Conversions

,ConversionId,Multiplier,ConvertFromQty,ConvertFromUom,ConvertToQty,ConvertToUom
37,I-1041,1.000000,1.0,CT,1.0,bag
38,I-1100,1.000000,1.0,CT,1.0,g
39,I-1122,0.014286,1.0,CT,70.0,g
40,I-1197,0.013333,1.0,CT,75.0,g
41,I-1274,1.000000,1.0,LOAF,1.0,slice
...,...,...,...,...,...,...
749,I-25290,0.000213,0.1,LOAF,470.0,g
750,I-9641,0.017544,1.0,LOAF,57.0,g
751,I-14190,0.001667,1.0,LOAF,600.0,g
752,I-37113,0.004274,1.0,ea,234.0,g
753,I-1271,0.000111,0.1,LOAF,900.0,g

In [9]:
Not_in_items_list_assign = pd.DataFrame(columns=Items_List_Assigned.columns)

# give all rows in 

Not_in_items_list_assign

Empty DataFrame
Columns: [ItemId, CategoryID, Description, CaseQty, CaseUOM, PakQty, PakUOM, InventoryGroup]
Index: []